<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TradersToolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TradersToolbox.Properties.Settings>
      <setting name="MCDD_Iterations" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MCDD_AcctSize" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="VT_Iterations" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="VT_Trades" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="VT_Variations" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="VT_Ruin" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MCE_ToPick" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MCE_Iterations" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MCE_Lower" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MCE_Upper" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="ResultsWindowWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DataVersionDate" serializeAs="String">
        <value>1900-01-01</value>
      </setting>
      <setting name="NoiseTestOpen" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="NoiseTestLow" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="NoiseTestHigh" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="NoiseTestClose" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="NoiseTestMax" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="NoiseTestCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ProxyName" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="VsOther1Symbol" serializeAs="String">
        <value />
      </setting>
      <setting name="VsOther2Symbol" serializeAs="String">
        <value />
      </setting>
      <setting name="VsOther3Symbol" serializeAs="String">
        <value />
      </setting>
      <setting name="TTmaxPNLEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTmaxPNLstart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TTmaxPNLend" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TTmaxPNLstep" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TTminPNLenabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTminPNLstart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TTminPNLend" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TTminPNLstep" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TTmaxTradesEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTmaxTradesStart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TTmaxTradesEnd" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TTmaxTradesStep" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TTstartTimeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTstartTimeStart" serializeAs="String">
        <value>2020-01-01</value>
      </setting>
      <setting name="TTstartTimeEnd" serializeAs="String">
        <value>2020-01-01</value>
      </setting>
      <setting name="TTstartTimeStep" serializeAs="String">
        <value>01/01/2020 01:00:00</value>
      </setting>
      <setting name="TTendTimeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTendTimeStart" serializeAs="String">
        <value>2020-01-01</value>
      </setting>
      <setting name="TTendTimeEnd" serializeAs="String">
        <value>2020-01-01</value>
      </setting>
      <setting name="TTendTimeStep" serializeAs="String">
        <value>01/01/2020 01:00:00</value>
      </setting>
      <setting name="TTaddCode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseUpdatePeriod" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="IntraEndOfDay" serializeAs="String">
        <value>01/01/2020 17:00:00</value>
      </setting>
      <setting name="IntraSymbol" serializeAs="String">
        <value />
      </setting>
      <setting name="IntraExcludeExits" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SignalsXML" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomSignalsXML" serializeAs="String">
        <value />
      </setting>
      <setting name="TradeStationRefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="ResultsWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="SimTaskWindowWidth" serializeAs="String">
        <value>950</value>
      </setting>
      <setting name="SimTaskWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TextOutWindowWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="TextOutWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="GraphWindowWidth" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="GraphWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="HistogramWindowHeight" serializeAs="String">
        <value>630</value>
      </setting>
      <setting name="HistogramWindowWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="BreakdownWindowWidth" serializeAs="String">
        <value>650</value>
      </setting>
      <setting name="BreakdownWindowHeight" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="RandomOOSWindowWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="RandomOOSWindowHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="GraphStockWindowWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="GraphStockWindowHeight" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="GraphLast15WindowWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="GraphLast15WindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="FloatingChartWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="FloatingChartHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SymbolsXML" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomStratWindowWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="CustomStratWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="CustomIndicatorsWindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="CustomIndicatorsWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SimulatedTradingWindowWidth" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="SimulatedTradingWindowHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Broker" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="UseExtendedHours" serializeAs="String">
        <value>False</value>
      </setting>
    </TradersToolbox.Properties.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>VS2019Dark</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.0.0" newVersion="1.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>